<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'btn btn-default btn-sm', style: 'float: right;' %>

<h2>Admin - Planning des inscriptions</h2>
<br>
<%= link_to 'Exporter CSV', admin_inscriptions_export_path(format: 'csv') %>

<br>

<%= render 'shared/month_selector', admin: true %>

<%= render 'events/events_table', admin: true %>
