<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Votre inscription a bien été annulée, <%= @inscription.volunteer.first_name %> <%= @inscription.volunteer.last_name %></h2>

    <p>Désinscription pour : <strong><%= @event.human_name %></strong></p>

  </body>
</html>