.form-field {
  padding: 10px;
}

.control-label {
  padding: 7px 0 0 0;
}

.form-field input[type=checkbox], .form-field input[type=checkbox]:active, .form-field input[type=checkbox]:focus
{
  font-size: 18px;
}
